# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

public/data
public/voronoi
public/shared
public/js/voronoi
src/lib/voronoi
public/hubs_FBT_top5_LV.csv
src/components/data/hubs_FBT_top5_LV.csv
src/components/Chart/Clusters.js
src/components/Chart/HubsDash.jsx
src/components/Chart/HubsSummary.js
src/components/Chart/CommPerYear.js
src/components/LoadHubs.js
src/components/Chart/setup.js

.idea/*
