@font-face {
  font-family: 'Exo 2';
  font-weight: 100;
  src: url('/fonts/Exo_2/static/Exo2-ExtraLight.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/Exo_2/static/Exo2-ExtraLightItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 200;
  src: url('/fonts/Exo_2/static/Exo2-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 300;
  src: url('/fonts/Exo_2/static/Exo2-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  src: url('/fonts/Exo_2/static/Exo2-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Exo_2/static/Exo2-Italic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 500;
  src: url('/fonts/Exo_2/static/Exo2-SemiBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/Exo_2/static/Exo2-SemiBoldItalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 600;
  src: url('/fonts/Exo_2/static/Exo2-ExtraBold.ttf')  format('truetype');
}
@font-face {
  font-family: 'Exo 2';
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/Exo_2/static/Exo2-ExtraBoldItalic.ttf')  format('truetype');
}


/* DOSIS */
@font-face {
  font-family: 'Dosis';
  font-weight: 100;
  src: url('/fonts/dosis/Dosis-ExtraLight.otf')  format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 200;
  src: url('/fonts/dosis/Dosis-Light.otf')  format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 300;
  src: url('/fonts/dosis/Dosis-Medium.otf')  format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 400;
  src: url('/fonts/dosis/Dosis-Regular.otf')  format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 500;
  src: url('/fonts/dosis/Dosis-SemiBold.otf')  format('truetype');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 600;
  src: url('/fonts/dosis/Dosis-ExtraBold.otf')  format('truetype');
}

body {
  padding: 1.6em 2em 4em;
  letter-spacing: -0.011em;
  font-family: 'Dosis', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: black;
  background: #F5F2F0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACHUlEQVQ4T1XUCW5bMQwEUMn7cv8btmnqxLGT1vui4AkY4EeA8BeRwyGHVN38+d3G43GxW2tlMpmU2+1Wns9nWSwW5Xg8ltFoVB6PR7FWq1V/v1wuZTqdltls1r/v93v3qW+vLy1G1+u1gzLMYhgnjvZ6vS6Hw6HUWrv9fD7v7+fzudTPj/eG0XK57GzCCojNUUBngDgBAczndDr1ZzKsUpamH2EACDPgngCkLTA2QNjLRABPDPs+fO2b6Fg4BAbAO+dhPdVIWRCwwkpQAe263bw2yD7ChKOoDLEG4Okc6wTzz3vE6gx375sWhTgC4ugQOyuMvLNlk/SjtjLIrn7ttl2U1ISBVKXGEVuLje+0SECdC4hEb5v/n7sG3QdQikVJQAHkpCypl7P0J3AYylH/vvxqXoYNnTZK6tgKZqUTiJgSCGr3ftxv37ooqQkj32mXGEZ5QMoS4aJ6MuwqY+iHFBgDV2DGomKvwaUWgdIBAgjGtquc0UsPpiUAAx32oToBTHAEYhO1e8qZW3XS5EN1h+OFReo4nJxhRn30oqzotnQsABikPhFEwPRr1I5P/bf/6KOXuY2a6UdMpJoejBjqlbbiw74LShSFV3SgDqWAqUC5NHIGMO2k3rLzD/s+KQAZOJBiqOfSjVPEyiWQWvNxraU7+qRgl5+ZDE8tkbFMegDCVpAMxI/bRsqYOcwtDAjzlCA3cxpZTaN67k4kvgH79HB6cJuWywAAAABJRU5ErkJggg==');
  background-size: 10px 10px;
}

:root,html,body,#root,
.App,
.App__charts {
  width: 100%;
}
.App__charts {
  display: flex;
  align-items: center;
  margin: auto;
  background: white;
}
.home__dashboard_container {
  /* max-width: 1280px; */
  margin: 2em auto;
  height: 100%;
}

h1,h2,h3,h4,h5,h6,.brand-infomap {
  font-family: "Exo 2";
}
h1 {
  font-weight: 900;
  margin: 0.4em 0 0.6em;
}

/* placeholders */
.placeholder {
  background: #ecf0f1;
}

.loading__container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  INTRATIMEBAR CHART
*/
.intratimebar__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 2rem auto;
}
.intratimebar__explainers {
  margin: 2rem auto;
  max-width: 720px;
  padding: 1.5rem;
}
.intrachart_responsive_container {
  justify-items: center;
  align-self: center;
  width: 100%;
  height: 700px;
}
.intrachart_responsive_container .label {
  font-size: clamp(0.5rem,0.85rem,1rem);
}
