/* html, body, #root {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    background: #F5F2F0;
    background-size: 10px 10px;
}

a, a:link, a:visited {
    color: #128BC2;
    text-decoration: none;
}

a:active, a:hover {
    color: #096992;
}

.ui.grid {
    height: 100%;
}

.ui.header {
    font-weight: 300;
    color: #128BC2;
}

code {
    font-family: monospace, sans-serif;
    font-weight: 300;
}
